{% extends "chrome.html" %}

{% block content %}
<div class="container mt-3">
    <h1>{{ student_name }}欠課概要</h1>
    <form action="{{ url_for('absences.student_absences', grade=grade, student_name=student_name) }}" method="get">
        <div class="form-group">
            <label for="semesterSelect">学期を選択する:</label>
            <select name="semester_id" id="semesterSelect" class="form-control" onchange="this.form.submit()">
                <option value="-1" {% if not selected_semester %}selected{% endif %}>全てを見る</option>
                {% for semester in semesters %}
                <option value="{{ semester.id }}" {% if selected_semester and selected_semester.id == semester.id %}selected{% endif %}>
                    {{ semester.name }} ({{ semester.start_date.strftime('%Y-%m-%d') }} - {{ semester.end_date.strftime('%Y-%m-%d') }})
                </option>
                {% endfor %}
            </select>
        </div>
    </form>

    <h5>欠席日数: {{ days_missed }}</h5>

    <table class="table">
        <thead>
            <tr>
                <th>日付</th>
                <th>欠課種類</th>
                <th>理由</th>
                <th>欠課時間</th>
                <th>宿題受け渡し方法</th>
            </tr>
        </thead>
        <tbody>
            {% for absence in absences %}
            <tr>
                <td>{{ absence.date.strftime('%Y-%m-%d') }}</td>
                <td>{{ absence.absence_type }}</td>
                <td>{{ absence.reason }}</td>
                <td class="duration" data-hours="{{ absence.duration }}"></td>
                <td>{{ absence.comment }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
function formatDuration(hours) {
    if (hours) {
        const totalMinutes = Math.floor(hours * 60);
        const hoursPart = Math.floor(totalMinutes / 60);
        const minutesPart = totalMinutes % 60;
        return `${hoursPart}h ${minutesPart}min`;
    }
}

document.querySelectorAll('.duration').forEach(element => {
    const hours = parseFloat(element.dataset.hours);
    element.textContent = formatDuration(hours);
});
</script>
{% endblock %}