{% extends "chrome.html" %}

{% block content %}
<div class="container mt-3">
    <h1>{{ student_name }}'s Absences Overview</h1>
    <form action="{{ url_for('absences.student_absences', grade=grade, student_name=student_name) }}" method="get">
        <div class="form-group">
            <label for="semesterSelect">Select Semester:</label>
            <select name="semester_id" id="semesterSelect" class="form-control" onchange="this.form.submit()">
                <option value="-1" {% if not selected_semester %}selected{% endif %}>All Time</option>
                {% for semester in semesters %}
                <option value="{{ semester.id }}" {% if selected_semester and selected_semester.id == semester.id %}selected{% endif %}>
                    {{ semester.name }} ({{ semester.start_date.strftime('%Y-%m-%d') }} - {{ semester.end_date.strftime('%Y-%m-%d') }})
                </option>
                {% endfor %}
            </select>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Reason</th>
                <th>Missed (hours)</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for absence in absences %}
            <tr>
                <td>{{ absence.date.strftime('%Y-%m-%d') }}</td>
                <td>{{ absence.reason }} ({{  }})</td>
                <td>{{ absence.duration }}</td>
                <td>{{ absence.comment }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}