<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit, maximum-scale=1">
    <title>Thank You</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <style>
        body {
            padding-top: 50px;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }
        .alert {
            color: black;
            background-color: #ffdeb9;
            border-color: orange;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>連絡フォームのご提出をありがとうございました。</h1>
    <div class="alert alert-success">
        <p>確認メールを送信しましたので、ご確認ください。</p>
    </div>
    <a href="/" class="btn btn-primary">続けて連絡フォームを送信する</a>
</div>

<!-- Optional JavaScript: jQuery, Popper.js, Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.12.7/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"></script>
</body>
</html>
